<nav class="navbar fixed-bottom navbar-light bg-light">

    <a class="navbar-brand" href="#">Copyright &copy; 2019</a>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
</nav>
