<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Copyright &copy; 2019 Rainbow inc </a>
  <a class="nav-link" href="/about">about <span class="sr-only">(current)</span></a>
</li>
</nav>
